.container {
  text-align: center;
  width: 100%;
  position: relative;
  font-family: PingFang SC;
  & .layout_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.top_flex {
      /*  position: fixed;
        top: 0;*/
      max-width: 1920px;
      margin: 0 auto;
      height: 80px;
      background-color: #fff;
      color: #fff;
      & .logo_img {
        transform: translateX(360px);
        width: 13%;
      }
      & .text_right {
        transform: translateX(-360px);
        & .lan_btn {
          background-color: #00bf6c;
          color: rgba(255, 255, 255, 0.9);
          border: none;
          width: 50px;
          height: 24px;
          font-size: 14px;
          border-radius: 24px;
          &:focus {
            outline: 0;
          }
        }
      }
      & .flex_nav {
        transform: translateX(-30px);
        & li {
          color: #333333;
          font-size: 16px;
          float: left;
          &:nth-child(2) {
            padding: 0 80px;
          }
          &:hover, &.active {
            cursor: pointer;
            color: #00BF6C;
          }
        }
      }
    }
  }
  & .index_banner {
    width: 100%;
    min-height: 466px;
    background: url("../assets/img/banner.png") no-repeat center, linear-gradient(to right, #00cdd0, #353cc8);
    position: relative;
    & .content_box{
      max-width: 1920px;
      height: 466px;
      margin: 0 auto;
    }
    &.banner_en {
      & .banner_content {
        position: absolute;
        transform: translateX(360px);
        top: 50%;
        right: 47.5%;
        margin-top: -85px;
      }
    }
    & .banner_content {
      text-align: left;
      position: absolute;
      right: 50%;
      top: 50%;
      margin-top: -73px;
      transform: translateX(360px);
      & .banner_title {
        color: #EFF3F6;
        font-size: 32px;
        font-weight: bold;
      }
      & .banner_sub_title {
        color: #EFF3F6;
        font-size: 19px;
      }
      & .banner_btn_box {
        border: 4px solid rgba(255, 255, 255, 0.35);
        width: 195px;
        height: 40px;
        border-radius: 28px;
        & .banner_btn {
          width: 195px;
          height: 40px;
          background: #FFFFFF;
          border-radius: 25px;
          font-size: 18px;
          font-weight: 400;
          border: none;
          color: #00BF6C;
          display: flex;
          align-items: center;
          justify-content: center;
          & img {
            padding-right: 12px;
          }
        }
        &.banner_btn_en {
          width: 280px;
          & .banner_btn {
            width: 280px;
          }
        }
      }
    }
  }
  & .qy_pro {
    padding: 80px 0;
    & .qy_title {
      margin-bottom: 79px;
      text-align: center;
      & .title {
        font-weight: bold;
      }
      & .sub_title {
        color: #999;
      }
      & .introduce {
        max-width: 1185px;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        line-height: 24px;
        text-align: left;
        &.en_text {
          text-align: left;
        }
      }
    }
    &.qy_reason_box {
      background: #F4F6F9;
    }
    & .qy_layout {
      &.qy_pro_flex {
        display: flex;
        align-items: center;
        justify-content: center;
        & .qy_pro_item {
          & .qy_pro_imgBox {
            margin-bottom: 20px;
            width: 393px;
            height: 260px;
            background: #F4F6F9;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &:nth-child(2) {
            margin: 0 10px;
            & img{
              width: 80%;
            }
          }
          &:last-child{
            & img{
              width: 70%;
            }
          }
          &:first-child{
            & img{
              width: 80%;
            }
          }
          & .pro_name {
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 20px;
            color: #000000;
          }
          & .pro_u_name {
            font-size: 16px;
            font-weight: 400;
            color: #666666;
            padding-bottom: 20px;
          }
          & .pro_button {
            padding: 0 30px;
            height: 40px;
            background: #00BF6C;
            border-radius: 20px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            & .iconfont {
              padding-right: 5px;
              font-size: 21px;
            }
            & span {
              font-size: 14px;
              font-weight: 400;
              color: #FFFFFF;
            }
          }
        }
      }
      &.qy_pro_reason {
        max-width: 1920px;
        margin: 0 auto;
        font-size: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        & .qy_pro_item {
          width: 586px;
          height: 444px;
          background: #FFFFFF;
          & .qy_reason_imgBox {
            & .pro_name {
              font-size: 30px;
              font-weight: bold;
              color: #000;
              margin: 57px 0 19px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              word-break: break-all;
            }
            & .pro_u_name {
              font-size: 16px;
              font-weight: 400;
              max-width: 452px;
              margin: 0 auto;
              color: #333;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              word-break: break-all;
            }
          }
          &:nth-child(odd) {
            margin: 0 27px 27px 360px;
          }
          &:nth-child(even) {
            margin: 0 360px 27px 0;
          }
        }
        &.one {
          & .qy_pro_item {
            &:first-child {
              .qy_reason_imgBox {
                .pro_u_name {
                  //margin-bottom: 35px;
                }
                img{
                  width: 424px;
                }
              }
            }
            &:last-child {
              .qy_reason_imgBox {
                .pro_u_name {
                  //padding-bottom: 28px;
                }
                img{
                  width: 416px;
                }
              }
            }
          }
        }
        &.two {
          & .qy_pro_item {
            &:first-child {
              .qy_reason_imgBox {
                .pro_u_name {
                  //padding-bottom: 35px;
                }
                img{
                  width: 408px;
                }
              }
            }
            &:last-child {
              .qy_reason_imgBox {
                .pro_u_name {
                  //padding-bottom: 42px;
                }
                img{
                  width: 412px;
                }
              }
            }
          }
        }
        &.three {
          & .qy_pro_item {
            &:first-child {
              .qy_reason_imgBox {
                .pro_u_name {
                  //margin-bottom: 58px;
                }
                img{
                  width: 401px;
                }
              }
            }
            &:last-child {
              .qy_reason_imgBox {
                .pro_u_name {
                  //margin-bottom: 55px;
                  &.en_text {
                    max-width: 528px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    word-break: break-all;
                    line-height: 16px;
                  }
                }
                img{
                  width: 390px;
                }
              }
            }
          }
        }
      }
    }
  }
  & .title {
    font-size: 44px;
    padding-bottom: 20px;
  }
  & .sub_title {
    font-size: 20px;
    padding-bottom: 20px;
  }
  & .qy_footer_box {
    background: #303031;
    width: 100%;
    padding: 21px 0;
    & .footer_content {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & .footer_nav {
        text-align: left;
        &.footer_top_nav {
          & .qy_footer {
            height: 200px;
          }
        }
        &.footer_bottom_nav {
          &:last-child {
            text-align: right;
            transform: translateY(-32px);
          }
          &:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: center;
            & .qy_footer_nav_item {
              display: flex;
              align-items: center;
              justify-content: center;
              padding-right: 20px;
              & img {
                padding-right: 9px;
              }
            }
          }
          & .img_code {
            padding-right: 15px;
            text-align: center;
            &:last-child {
              padding-right: 0;
            }
            & img {
              margin-bottom: 12px;
            }
            & p {
              font-size: 12px;
              color: #999;
              &.padding_bottom {
                padding-bottom: 6px;
              }
            }
          }
        }
        & .qy_footer_nav_item {
          font-size: 16px;
          font-weight: 500;
          color: #D1D1D1;
          line-height: 24px;
          &.concat_zh {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            word-break: break-all;
          }
          &.concat_en {
            & span {
              width: 214px;
              text-align: center;
            }
          }
        }
        & .qy_footer {
          margin: 0 auto;
          padding: 20px 0 41PX;
          & li {
            font-size: 14px;
            font-weight: 400;
            color: #999999;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            word-break: break-all;
            &:hover a, &.active {
              cursor: pointer;
              color: #00bf6c;
            }
            & .footer_link {
              color: #00bf6c;
            }
          }
        }
      }
    }
    & .qy_footer_status {
      border-top: 1px solid rgba(204, 204, 204, .3);
      font-size: 12px;
      font-weight: 400;
      color: #999999;
      padding: 20px 0 0;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  & .register_btn {
    width: 420px;
    height: 50px;
    background: #00BF6C;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    border: none;
  }
  & .dialog-footer {
    text-align: left;
    padding: 0 40px;
    color: #0ddb8d;
    &:hover {
      color: #00BF6C;
    }
  }
  .el-dialog__body span {
    color: #00BF6C;
  }
}

.iconapply{
  font-size: 32px;
  padding-right: 6px;
}
@media screen and (max-width: 1024px){
  .container{
    & .index_banner{
      background: url("../assets/img/banner.png") no-repeat -175px 0, linear-gradient(to right, #00cdd0, #353cc8);
      background-size: cover;
      &.banner_en{
        & .banner_content{
          right: 42%;
        }
      }

    }
  }
}
@media screen and (max-width: 1366px){
  .container{
   /* & .index_banner{
      min-height: 450px;
    }*/
  }
}
@media screen and(min-width: 1366px) and (max-width: 1679px) {
  .container {
    /*& .index_banner {
      & .banner_content {
        right: 14%;
        //transform: translate(-292px, 250px) !important;
      }
    }*/
  }
}

@media screen and(min-width: 1680px) and (max-width: 1919px) {
  .container {
   /* & .index_banner {
      & .banner_content {
        right: 17%;
        //transform: translate(-437px, 250px) !important;
      }
    }*/
  }
}

@media screen and (max-width: 1920px) {
  .container {
    & .layout_flex {
      &.top_flex {
        & .logo_img {
          transform: translateX(40px);
        }
        & .text_right {
          transform: translateX(-40px);
        }
      }
    }
    & .index_banner {
      &.banner_en {
        & .banner_content {
          right: 45%;
        }
      }
      & .banner_content {
        right: 50%;
      }
    }
    & .qy_pro {
      & .qy_layout {
        &.qy_pro_reason {
          & .qy_pro_item {
            &:nth-child(even) {
              margin: 0 40px 27px 0;
            }
            &:nth-child(odd) {
              margin: 0 27px 27px 40px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .container {
    & .qy_footer_box {
      & .footer_content {
        & .footer_nav {
          &:last-child {
            margin-right: 40px;
          }
          &:first-child {
            margin-left: 40px;
          }
        }
      }
    }
    & .qy_pro {
      & .qy_title, & .qy_layout.qy_pro_flex {
        margin: 0 40px;
        margin-bottom: 79px;
      }
      & .qy_layout.qy_pro_flex {
        & .qy_pro_item {
          & .qy_pro_imgBox {
            width: 325px;
            & img {
              width: 240px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1204px) and (max-width: 1279px) {
  .container {
    & .qy_pro {
      & .qy_layout.qy_pro_flex {
        & .qy_pro_item {
          & .qy_pro_imgBox {
            width: 325px;
            & img {
              width: 240px;
            }
          }
        }
      }
    }

  }
}
