.login-container {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  & .login_img {
    margin-right: 60px;
  }
  & .login_from_box {
    background: #FFFFFF;
    box-shadow: 6px 7px 27px 0 #F5F5F7;
    width: 320px;
    padding: 40px;
    & .from_logo{
      margin-bottom: 34px;
    }
    & .login-form {
      & .form_item {
        margin-bottom: 22px;
        & input{
          width: 272px;
          color: #666;
          border: 1px solid #E6E6E6;
          border-radius: 4px;
          padding: 9px 5px 9px 40px;
          &:focus{
            outline: 0;
            border-color: #666;
          }
          &.code{
            width: 140px;
            float: left;
          }
          &.remember{
            width: 15px;
            padding: 6px;
          }
        }
        & span{
          color: #666;
          font-size: 14px;
        }
        & .forget{
          color: #00BF6C;
          font-size: 14px;
          &:hover{
            cursor: pointer;
          }
        }
        & .svg-container {
          position: absolute;
          left: 10px;
          color: #E6E6E6;
          & .svg-icon{
            color: #6E6E73;
            font-size: 18px;
          }
        }
        & .flex_layout{
          display: flex;
          align-items: center;
          justify-content: space-between;
          & p:hover{
            cursor: pointer;
          }
        }
      }
      & .operate_btn{
        width: 100%;
        height: 50px;
        border: 1px solid #D9D9D9;
        background-color: transparent;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 300;
        color: #999999;
        margin-bottom: 22px;
        &:hover, &.active{
        color: #FFFFFF;
        box-shadow: 4px 5px 8px 0px rgba(0, 191, 108, 0.2);
          background: #00BF6C;
        }
      }
    }
  }

}

