.login-container {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f5f5f7;
  & .login_img {
    margin-right: 60px;
  }
  & .login_from_box {
    background: #FFFFFF;
    box-shadow: 6px 7px 27px 0 #F5F5F7;
    width: 320px;
    padding: 40px;
    border-radius: 8px;
    & .from_logo {
      margin-bottom: 34px;
    }
    & .login-form {
      & .form_item {
        margin-bottom: 22px;
        & input {
          color: #f00;
          &:focus {
            outline: 0;
            border-color: #00BF6C;
          }
          &.code {
            width: 140px;
            float: left;
          }
          &.remember {
            outline: none;
          }
        }
        & label {
          color: #666;
          font-size: 14px;
          font-weight: normal;
          &:hover {
            cursor: pointer;
          }
        }
        & .forget {
          color: #00BF6C;
          font-size: 14px;
          &:hover {
            cursor: pointer;
          }
        }
        & .svg-container {
          position: absolute;
          left: 10px;
          color: #E6E6E6;
          z-index: 1;
          & .svg-icon {
            color: #6E6E73;
            font-size: 18px;
          }
        }
        & .flex_layout {
          display: flex;
          align-items: center;
          justify-content: space-between;
          & p {
            &.check {
              display: flex;
              align-items: center;
            }
            &:hover {
              cursor: pointer;
            }
          }
          &.en_flex {
            display: block;
            & p.forget {
              float: right;
            }
          }
        }
        &.is-error {
          & input {
            border-color: #f00;
          }
        }
      }
      & .operate_btn {
        width: 100%;
        height: 50px;
        border: 1px solid #D9D9D9;
        background-color: transparent;
        border-radius: 8px;
        font-size: 18px;
        color: #999999;
        margin-bottom: 22px;
        font-weight: bold;

        &:hover, &.active {
          color: #FFFFFF;
          box-shadow: 4px 5px 8px 0px rgba(0, 191, 108, 0.2);
          background: #00BF6C;
        }
      }
    }
  }
  & .register_btn {
    width: 420px;
    height: 50px;
    background: #00BF6C;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    border: none;
  }
}

input::-webkit-input-placeholder {
  color: #999;
  font-size: 14px;
}

@media screen and(max-width: 1024px) {
  .login-container {
    & .login_img {
      position: absolute;
      top: 20px;
      & img {
        transform: scale(0.8);
      }
    }
    & .login_from_box {
      position: absolute;
      top: 40%;
    }
  }
}

@media screen and(max-width: 768px) {
  .login-container {
    & .login_img {
      position: absolute;
      top: 20px;
      & img {
        transform: scale(0.6);
      }
    }
    & .login_from_box {
      width: 280px;
    }
  }
}
