// sidebar
$menuText:#666;
$menuActiveText:#666;
$subMenuActiveText:#666; //https://github.com/ElemeFE/element/issues/12951

$menuActiveBg:#F4F6F9;
$menuBg: #fff;
$menuHover:#00BF6C;

$subMenuBg:#1f2d3d;
$subMenuHover:#00BF6C;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $menuActiveBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
