@charset "UTF-8";
@import 'variables';
@import 'mixin';
@import 'transition';
@import 'element-ui';
@import 'sidebar';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

/**,
*:before,
*:after {
  box-sizing: inherit;
}*/

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: #e6e6e6;
  font-size: 12px;
}

input[type=checkbox] {
  cursor: pointer;
  position: relative;
  width: 0;
  height: 0;
  font-size: 14px;
  margin-right: 8px;

  &::after {
    position: absolute;
    top: -9px;
    //修改默认背景色
    background-color: #fff;
    border: 1px solid #C4C4C4FF;
    //修改默认对勾颜色
    color: #C4C4C4FF;
    width: 16px;
    height: 15px;
    padding-top: 2px;
    display: inline-block;
    visibility: visible;
    text-align: center;
    content: ' ';
    border-radius: 3px;
  }
  &:checked::after {
    content: "\221A";
    font-size: 12px;
  }
}

/*表单错误提示信息*/
.el-form-item__error {
  padding-top: 8px;
}

.el-button + .el-button {
  margin: 0;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

/*注册弹框*/
.el-dialog {
  width: 500px;
  height: 281px;
  border-radius: 8px;
  top: 50%;
  margin-top: -250px !important;
}

.el-dialog__header {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  padding-bottom: 24px;
  border-bottom: 1px solid #E9E9E9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-dialog__body {
  padding: 40px;
  color: #666666;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
}

.el-dialog__footer {
  text-align: center;
  padding: 0;
}

.el-dialog__headerbtn{
  top: 22px;
  & .el-dialog__close {
    color: #B7B7B7;
    font-size: 20px;
  }
  &:hover{
    & .el-dialog__close {
      color: #00BF6C;
    }
  }
}
